{% extends 'administrador_base.html' %}
{% block contenido %}
{% load static %}
{% block content %}
{% block extrahead %}

{% endblock %}
<div class="bg-dark border rounded border-0 border-dark overflow-hidden" style="height: 250px;">
    <div class="row row g-0">
        <div class="col col-md-6" style="background: #070612;">
            <div class="text-white p-4 p-md-5" style="background: #070612;height: 50px;">
                <h2 class="fw-bold text-white mb-3">Bienvenido {{request.user.first_name}} {{request.user.last_name}}</h2>
                <p class="mb-4">Tincidunt laoreet leo, adipiscing taciti tempor. Primis senectus sapien, risus donec ad fusce augue interdum.</p>
                <div class="my-3"><a class="btn btn-primary btn-lg me-2" role="button" href="#" style="font-family: Roboto, sans-serif;font-weight: bold;background: #004D40;border-style: none;border-radius: 10px;">Descargar Informe</a></div>
            </div>
        </div>
        <div class="col col-md-6 d-xl-flex order-first order-md-last justify-content-xl-center align-items-xl-center" style="min-height: 250px;background: #070612;"><img class="w-90 h-90 fit-cover" src="{% static '/frontend/Images/Logo.png'%}" style="background: url(&quot;assets/img/Logo.png&quot;) center / cover no-repeat, #070612;width: 400;"></div>
    </div>
</div>
    <main role="main">
        <div class="container col-12 mt-3">
            <div class="col-12  mt-3 border">
                <h3>Bienvenido {{request.user.first_name}} {{request.user.last_name}} </h3> 
                <div class="row mt-4 mb-4">
                    <div class="col-12 col-sm-3 mb-3">
                        <a href="{% url 'users_main' %}" class="btn btn-danger form-control">Gestión Usuarios</a>               
                    </div>                   
                    <div class="col-12 col-sm-3 mb-3">
                        <a href=""class="btn btn-danger form-control">Gestión Ejemplos</a>               
                    </div>                                       
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% endblock %}
