{% extends 'administrador_base.html' %}



{% block title %}Admin-Inicio{% endblock %}
{% block email%}
<li class="nav-item"><a class="nav-link active" href="#" style="color: rgba(255,255,255,0.9);font-family: Roboto, sans-serif;font-weight: bold;">{{request.user.email}}</a></li>
{%endblock%}

{% block contenido %}
{% load static %}
<div class="bg-dark border rounded border-0 border-dark overflow-hidden" style="height: 250px;">
    <div class="row row g-0">
        <div class="col col-md-6" style="background: #070612;">
            <div class="text-white p-4 p-md-5" style="background: #070612;height: 50px;">
                <h2 class="fw-bold text-white mb-3">Bienvenido {{request.user.first_name}} {{request.user.last_name}}</h2>
                <p class="mb-4">Tincidunt laoreet leo, adipiscing taciti tempor. Primis senectus sapien, risus donec ad fusce augue interdum.</p>
                <div class="my-3"><a class="btn btn-primary btn-lg me-2" role="button" href="#" style="font-family: Roboto, sans-serif;font-weight: bold;background: #004D40;border-style: none;border-radius: 10px;">Descargar Informe</a></div>
            </div>
        </div>
        <div class="col col-md-6 d-xl-flex order-first order-md-last justify-content-xl-center align-items-xl-center" style="min-height: 250px;background: #070612;"><img class="w-90 h-90 fit-cover" src="{% static '/frontend/Images/Logo.png'%}" style="background: url(&quot;assets/img/Logo.png&quot;) center / cover no-repeat, #070612;width: 400;"></div>
    </div>
</div>
{% endblock %}
