{% extends 'administrador_base.html' %}
{% block title %}Admin-Panel de Usuarios{% endblock %}
{% block email%}
<li class="nav-item"><a class="nav-link active" href="#" style="color: rgba(255,255,255,0.9);font-family: Roboto, sans-serif;font-weight: bold;">{{request.user.email}}</a></li>
{%endblock%}

{% block contenido %}
{% load static %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md" style="width: 628px;">
                <div class="card" style="background: #070612;">
                    <div class="card-header">
                        <p style="color: rgb(255,255,255);font-family: Roboto, sans-serif;font-weight: bold;margin-bottom: 0px;">Panel de Administración de Usuarios</p>
                    </div>
                    <div class="card-body" style="background: #0d0b1b;">
                        <div class="col-md-6">
                            <div class="d-flex justify-content-start">
                                {% if profiles.group_id == 1%}
                                    <a class="btn btn-primary ms-md-2" role="button" href="{% url 'new_user' %}" style="background: #004D40;border-style: none;border-radius: 10px;font-family: Roboto, sans-serif;font-weight: bold;">Nuevos Usuarios</a>
                                {% endif %}
                                {% for g in groups %}
                                    <a class="btn btn-primary ms-md-2" role="button" href="{% url 'list_main' g.id %}" style="background: #004D40;border-style: none;border-radius: 10px;font-family: Roboto, sans-serif;font-weight: bold;">{{g.name}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

        