{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Inicio - WareHomes</title>
        <!-- CSS de Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link  type='text/css' href="{% static '/frontend/Home.css'%}" rel="stylesheet">
    </head>
    <body>
        <header>
            <a href="#" class="logo"></a>
            <nav>
                <ul>
                    <li><a href="" class="navi">Inicio</a></li>
                    <li><a href="" class="navi">Empresa</a></li>
                    <li><a href="" class="navi">Servicios</a></li>
                    <li><a href="" class="navi">Contacto</a></li>
                    <li><a href="{% url 'Login' %}" class="btn btn-custom" style="width: 120px;">Iniciar Sesión</a></li>
                </ul>
            </nav>
        </header>
        <section class="s1">
            <h1 class="titulo">Servicios de Bodegaje<br> y Almacenaje</h1>
            <p class="descripcion" style="top: 350px; left: 91px;">Texto, texto, texto, texto, texto, texto,texto, texto, texto, texto, texto, texto
texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto</p>
            <a href="" class="btn btn-custom" style="left:80px;bottom:-320px;width: 100px;">Registrarse</a>
        </section>
        <section class="s2">
            <h2 class="subtitulo" style="top: 85px; left: 540px;">¿Quienes Somos?</h2>
            <p class="descripcion" style="top: 167px; left: 200px; width: 75%;">Texto, texto, texto, texto, texto, texto,texto, texto, texto, texto, texto, texto
texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto</p>
            <a href="" class="btn btn-custom" style="left: 600px;top: 265px;width: 190px;">Descubre Más</a>
        </section>
        <section class="s3"></section>
        <script>
            window.addEventListener("scroll", function(){
                var header = document.querySelector("header");
                header.classList.toggle("abajo", window.scrollY>600);
            })
        </script>
        
    </body>
</html>